<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
@foreach($arts as $k=>$v)
<div class="">
    <div class="media">
        <a class="media-left" href="{{url('a/'.$v->art_id)}}"><img class="media-object" src="{{url($v->art_thumb)}}" alt=""></a>
        <div class="media-body">
            <h4><a href="{{url('a/'.$v->art_id)}}">{{str_limit($v->art_title,20)}}</a></h4>
            <p>{{str_limit($v->art_description,50)}}</p>
        </div>
    </div>
</div>
@endforeach
</body>
</html>